main {
    padding: 20px;
}
.team-wrapper {
    flex-direction: row;
    justify-content: space-around;
}

.team-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    height: 100%;
}

.players-wrapper {
    flex-direction: column;
    gap: 5px;
}

.org-wrapper {
    width: auto;
}